In [1]:
# Import Dependencies
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [9]:
# Name of the CSV file
file = './Resources/MRTS-mf_data.csv'

In [10]:
data_df = pd.read_csv(file, encoding="ISO-8859-1", low_memory=False)

In [6]:
data_df.head()

,CATEGORIES,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,cat_idx,cat_code,cat_desc,cat_indent,NaN,NaN,NaN
1,1,44X72,44X72: Retail Trade and Food Services,0,NaN,NaN,NaN
2,2,44Y72,"44Y72: Retail Trade and Food Services, ex Auto",0,NaN,NaN,NaN
3,3,44Z72,"44Z72: Retail Trade and Food Services, ex Gas",0,NaN,NaN,NaN
4,4,44W72,"44W72: Retail Trade and Food Services, ex Auto...",0,NaN,NaN,NaN